
.wrapper {
    background: linear-gradient(to right, #e67e22, #e74c3c);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
    width: 85%;
    margin: 0 auto;
  }

    
  .form-container {
    height: 90vh;    
    justify-content: center;   
    text-align: center; 
    width:50%;
    float:left;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
  }

  
.key {    
    border-bottom: solid 2px rgba(255,255,255,0.06);
    padding: 20px 0 20px 0;
    font-weight: 400;
  }
  
  .key:last-child {
    border: 0;
  }
  
  
  .valueQuote {
    font-weight: 150;
    font-style: italic;
    font-size: 15px;
  }
  input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #f16051;
    width: 30%;
    padding-bottom: 4px;
    color: #000;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-right: 20px;

  }
  
  input[type="text"] { 
      outline: none;
  }
  input[type="checkbox"] { 
    margin-top:20px;
    margin-left: 70px;
    margin-bottom: 30px;  
    
}

textarea { 
    margin-left:15px;
    text-align: left;
    padding-bottom: 4px;
    width: 30%;   
    font-weight: lighter;
    letter-spacing: 2px;
    
    }

label{
  margin-left:0px;
  text-align: left;
  padding-bottom: 4px;
  margin-bottom: 30px;
  margin-right: 20px;  
}
  
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}
  
button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}
  
button:active {
  outline: none;
}
.card-container {
  align-items: center; 
  height: 90vh;    
  float:right;   
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  align-items: center;
  justify-content: center;
  text-align: left;   
  width:50%;
}
.card__info {    
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  border:solid 1px ;
  width:80%;
  margin: auto;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.error {
  color:red;
  font-size:20px;
}